/*Page Background*/
.body{
    background-color:#0B172A;
    margin: 0;
    padding: 0;
}

/*Header Box*/
.ym-box {
    color: white;
    background-color:#BC4132;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 10px;
}
/*Personal Info Navbar*/
nav {
    min-height: 20px;
    background-color: #463940;
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }

#datepicker {
    font-size:20px;
    width: 160px;
    height:40px;
    display:inline-block;
    margin: 0 auto;

   }

#datepicker:read-only {
    background: white;
    color: black;
  }

#formSubmission{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#estimateInfo{
    margin-left:100px;
    margin-right:100px;
    font-size: 20px;
}

#projectName{
    border-radius:5px;
    font-size:20px;
    width:200px;
    display:inline-block;
    color:black;
}

#ChinaPM25 {
  height:600; 
  width:100%;
  margin-top:10px;
  margin-bottom:20px;
  margin-left:5px;
}

#actualPM25 {
  height:600; 
  width:95%;
  margin-bottom: 20px;
  margin-top:10px;
}

#ChinaLabel {
  width:100%;
  text-align: center;
}

#actualLabel {
  width:100%;
  text-align: center;
}

#mapApplicabilityLabel {
  margin-top: 10px;
  font-size: 40px;
}

#pName {
  margin-right: 20px;
  text-align: center;
  font-size: 50px;
  font-family: "Trebuchet MS";
}

#dateVal {
  text-align: center;
  font-size: 50px;
  font-family: "Trebuchet MS";
}

@-webkit-keyframes autofill {
  0%,100% {
      color: black;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

ul {
  display: inline-block;
  text-align: left;
}

#particulateMatterTitle {
  font-size: 50px;
  margin-top: 10px;
}

hr {
  height: 2px !important;
  background-color: #333;
}